@import url('http://fonts.googleapis.com/css?family=Fenix');
@import url("https://fonts.googleapis.com/css?family=PT+Serif");
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400');
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("bizstyle.css");



@font-face {
font-family: "PT Serif", serif;
}

div.cell {
    width: 800px;
    margin-left: auto !important;
    margin-right: auto;
    font-size: 12pt;
}

h1, h2, h3, h4, h5 {
    margin: 5px !important;
    padding: 5px !important;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28pt !important;
    line-height: 120%;
}

h2 {
    font-family: 'Fenix', serif;
    font-size: 24pt !important;
    border-top: 8px solid #eee;
    padding-top: 8px !important;
}

h3 {
    font-family: 'Fenix', serif;
    font-size: 18pt !important;
}

h4 {
    font-family: 'Fenix', serif;
    font-size: 16pt !important;
}

h5 {
    font-family: 'Fenix', serif;
    font-size: 14pt !important;
}

div.text_cell {
    display: block;
}

div.text_cell_render {
    font-family: 'PT Serif', serif;
    line-height: 140%;
    font-size: 100%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

CodeMirror {
    font-family: "Source Code Pro";
    font-size: 90%;
}
/*    .prompt{
        display: None;
    }*/

text_cell_render h1 {
    font-weight: 200;
    font-size: 38pt;
    line-height: 100%;
    color: #00a4d9;
    margin-bottom: 0em;
    margin-top: 0em;
    display: block;
    text-align: left !important;
}

warning {
    color: rgb( 240, 20, 20 )
}

report-header {
    border-top: 8px solid #eee;
    padding-top: 8px;
    text-align: right;
    line-height: 100%;
}

report-type {
    font-size: 80%;
    font-weight: bold;
}

report-author {
    font-size: 80%;
}

report-date {
    font-size: 80%;
    font-style: italic;
}

well {
    opacity: 0.5;
}

hr {
    border-width: 6pt;
}
	
